{% extends "layout.html" %}
{% block title %}Browse Careers - TrakPal{% endblock %}

{% block content %}
<style>
  .card {
    height: 275px;
    width: 250px;
    display: flex;
    flex-direction: column;
  }

  .card-img-top {
    height: 200px;
    width: 250px;
    object-fit: cover;
  }

  .row {
    display: flex;
    flex-wrap: wrap; 
    margin-left: -8px; 
    margin-right: -8px; 
  }

  .col-md-4 {
    width:320px;
    margin-bottom: 16px;
    padding-left: 50px;
    padding-right: 10px;
  }
</style>

<div class="container mt-4">
  <h2 class="text-center mb-4">All Careers</h2>
  <div class="row">
    {% for career in careers %}
    <div class="col-md-4">
      <div class="card">
        <img src="https://raw.githubusercontent.com/xawmbii/hw/main/images.png"
             class="card-img-top img-fluid"
             alt="{{ career.career_name }}">
        <div class="card-body">
          <h5 class="card-title">{{ career.career_name }}</h5>
          <a href="{{ url_for('career_detail', career_id=career.career_id) }}" class="btn btn-outline-primary btn-sm">
            View Details
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
